*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root{
    --text-color:#292929;
    --background-color-primary:#FFFEF8;
    --header-color-background:#090924;
    --secondary-color:#f8e008;
    --highlight-color: rgba(255, 255, 255, 0.2);
    --lighter-blue:#032A4E;

}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color-primary) ;
    color: var(--text-color);
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Engenharia\ da\ Computação.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    background-color: var(--header-color-background);
    justify-content: right;
    
}
.container nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container img{
    width: 150px;
    padding-bottom: 10px;
}
.container ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

.container ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

.container ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--background-color-primary);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.container ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-left: 5%;
    margin-top: 10%;
    font-size:18px;
    color: gray;
}
.header-text h1{
    font-size: 56px;
    color: #FFFEF8;
    font-weight: 500;
}
.header-text img{
    width: 20%;
}

/*-----------about section---------*/
#about{
    padding: 80px 0;
}
.container-about{
    background-color: var(--header-color-background); 
}
.row{
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-column-1{
    flex-basis: 35%;
}
.about-column-1 img{
    width: 50%;
    margin-left: 30%;

}
.about-column-2{
    margin-right: 5%;
    flex-basis: 60%;
}
.about-column-2 h1{
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f8e008;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-weight: 900;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------------services-----------------*/
.container .sub-title{
    font-size: 56px;
    color: #FFFEF8;
    font-weight: 500;
}
.sub-title-dark{
    font-size: 56px;
    color: var(--header-color-background);
    font-weight: 500;
}
#services{
    padding: 30px 0;
    background-color: var(--header-color-background);
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: var(--background-color-primary);
}
.services-list div{
    background:#032A4E ;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: var(--background-color-primary);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    background-color: var(--header-color-background);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 3px black);

}
.services-list div:hover{
    background: var(--highlight-color);
    transform: translateY(-10px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3862a1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--background-color-primary);
    transition: background 0.5s;

}
.btn:hover{
    background: rgba(3, 42, 78, 0.5) ;
}

/*Formações-------------------------*/

#portfolio{
    background-color: var(--header-color-background);
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
    color: var(--background-color-primary);
}


.work{
    box-sizing: content-box;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
   
    
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: background 0.5s, transform 0.5s;
}

.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(9, 9, 36,0.6), #025099);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer a {
    text-decoration: none;
    color: var(--background-color-primary);
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    background-color: var(--lighter-blue);
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}

/*Contato-----------------*/
.container-contato{
    background-color: var(--background-color-primary);
    padding: 10px 10%;
    
}
.contact-left{
    flex-basis: 100%;
    margin: auto;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #090924;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--header-color-background);
    display: inline-block;
    transition:transform 0.5s ;
}
.social-icons a:hover{
    color: #025099;
    transform: translateY(-5px);

}
#btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3862a1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--background-color-primary);
    transition: background 0.5s;
    display: inline-block;
    background-color: var(--header-color-background);


}
#btn2:hover{
    background: rgba(3, 42, 78, 0.5) ;
}
.contact-right form{
    width: 100%;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #292929;
    margin-top: 20px;
    color: var(--background-color-primary);
}

/*--------------responsividade----------*/

nav .fa-solid{
    display: none;
}
@media only screen and (max-width:650px){
    #header{
        background-image: url(./assets/bg-mobile.png);
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text img{
        width: 50%;
    }
    .tab-links{
        font-size: 99%;
        font-weight: 500;
    }
    .tab-contents{
        font-size: 12px;
    }

    #portfolio .worklist {
        width: 10%;
    }
    work{
        width: 10%;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: var(--background-color-primary);
        cursor: pointer;
    }
    nav ul{
        background: var(--lighter-blue);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }
    .about-column-1, .about-column-2{
        flex-basis: 100%;
    }
    .about-column-1{
        margin-bottom: 30px;
    }

    .about-column-2{
        font-size: 14px;
        padding: 30px;
    }
    .tab-links{
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}

